//swap these two lines during build
$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/"; //for dev
//$icon-font-path: "bootstrap/"; //for build

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: #E0FFFF;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation.html */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.btn-selected{
  @include button-variant($btn-default-color, whitesmoke, #dddddd);
}

.light-blue {
  background-color: #E0FFFF;
}

.edit-link{
  text-decoration: none;
}

tbody{
  width: 100%;
}

table.command-table{
  width: 100%;
}

table.table-striped tbody tr td.missing{
  @extend .bg-danger;
}

.filter-panel{
  width: 100%;
}

.list-group{
  display: inline-block;
  border: 0px;
}

.list-group-item{
  background-color: #E0FFFF;
  border-width: 0;
}

.recommendation-info {
  display: table-cell;
}

.list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

.list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.features article {
   width: 33.33%;
   padding: 40px;
   float: left;
 }

.chart-container {
  min-height: 180px;
  min-width: 180px;
  position: relative;
}

.canvas-holder {
   max-width: 500px;
 }

.stackedbar-legend {
   list-style: none;
   position: absolute;
   right: 0px;
   top: 0;
 }

.stackedbar-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}

.rec-selector.selected {
  border-right-style: none;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
}

.rec-selector {
  border-bottom-left-radius: 7px;
  border-top-left-radius: 7px;
  border-color: #428bca;
  border-width: 2px;
  border-style: none;
  border-right-style: solid;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
 }

.stackedbar-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}

